body{
    // background-color: blue;
}

.products{

    width: 80%;
    margin: auto;
    padding: 20px;
    color: black;
    

    .ingredients{
        display: flex;
        flex-direction: row;
    }

    .ingredients p{
        margin: 0px 10px;
        font-size: 20px;
        font-weight: 800;
    }

    .RandomCards{
        width: 50%;
        padding: 20px;
    }
    .DrinkCard img{
        width: 70%;
       
    }

    .DrinkCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        padding: 20px;
        background-color: orange;
        text-align: center;
    }

    .instructions{
        font-size: 20px;
        margin: 10px 0px;
        font-weight: 800;
    }

    .DrinkCard h1{
        color: #AA336A;
        font-weight: 900;
    }

    

    .ICards{
         padding: 50px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px  20px;
    }


    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .btn{
        font-size: 20px;
        padding: 5px 10px;
        // background-color: pink;
        color: black;
    }

    .btn:hover{
        background-color: pink;
    }

}